:host {
  max-width: 220px;
  min-width: 180px;
  flex: 1;

  @media (max-width: 768px) {
    max-width: 100%;
  }
}

.card {
  cursor: pointer;
  display: inline-block;
  height: 100%;
  width: 100%;
  border: 1px solid var(--color-grey-e);
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: box-shadow 0.2s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }

  .card__figure {
    width: 100%;
  }

  .card__image {
    width: 100%;
  }

  .card__figcation {
    background-color: --color-grey-f;
    padding: 0.5rem;
    text-align: center;
  }
}
