:root {
  --color-grey-3: #363f44;
  --color-grey-6: #666d7b;
  --color-grey-d: #dcdcdc;
  --color-grey-e: #f2f2f2;
  --color-grey-f: #ffffff;

  --color-primary: #428bca;
  --color-secondary: #0b67cd;

  --color-danger: #f56464;
}
