:root {
  --color-grey-3: #3a4449;
  --color-grey-6: #6a7283;
  --color-grey-9: #98a5c1;
  --color-grey-d: #dcdcdc;
  --color-grey-e: #f2f2f2;
  --color-grey-f: #ffffff;
  --color-primary: #3075b2;
  --color-secondary: #0b5ebd;
  --color-danger: #f56464;
}
